.about__grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  justify-items: center;
  align-items: start;
  box-sizing: border-box;
  column-gap: 50px;
  row-gap: 20px;
  max-width: 900px;
}

@media screen and (max-width: 850px) {
  .about__grid {
    grid-template-columns: 1fr;
  }
}
