.card__description-text {
  color: var(--main-white);
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  padding: 0;
  margin: 0;
}

.card__description-text::after {
  content: ' />';
  color: var(--main-gray);
  transition: color .2s linear;
}

.card__description-text::before {
  content: '< ';
  color: var(--main-gray);
  transition: color .2s linear;
}

.card:hover .card__description-text::before, .card:hover .card__description-text::after {
  color: #ff7f50;
}
