.header__toggle {
  margin-right: 50px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .header__toggle {
    margin-right: 35px;
  }
}

@media screen and (max-width: 455px) {
  .header__toggle {
    margin-right: 10px;
  }
}

@media screen and (max-width: 365px) {
  .header__toggle {
    margin-right: 7px;
  }
}

