.header__link {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.4;
  text-decoration: none;
  color: #f0f0f0;
  transition: background-color .3s linear;
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  white-space: nowrap;
}

.header__link:hover {
  background-color: #45567d;
}

@media screen and (max-width: 640px) {
  .header__link {
    font-size: 18px;
    padding: 0 15px;
  }
}

@media screen and (max-width: 425px) {
  .header__link {
    font-size: 16px;
  }
}

@media screen and (max-width: 365px) {
  .header__link {
    font-size: 12px;
    padding: 0 14px;
  }
}
