.skills {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;
  grid-auto-flow: row;
  padding: 0 30px;
}

@media screen and (max-width: 450px) {
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

