{% load static %}
<header class="header">
  <nav class="header__nav">
    <ul class="header__links">
      <li>
        <a href="#about" class="header__link">
          <span>
            Обо мне
          </span>
        </a>
      </li>
      <li>
        <a href="#projects" class="header__link">
          <span>
            Работы
          </span>
        </a>
      </li>
      <li>
        <a href="#contacts" class="header__link">
          <span>
            Связаться
          </span>
        </a>
      </li>
    </ul>
  </nav>
</header>
