.footer {
  font-weight: 300;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background: var(--second-color);
  border-top: 4px solid var(--main-color);
  font-size: 14px;
  color: rgba(255, 255, 255, .5);
}

@media screen and (max-width: 640px) {
  .footer {
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }
}
