.contacts__subtitle {
  font-style: italic;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 640px) {
  .contacts__subtitle {
    font-size: 14px;
  }
}

@media screen and (max-width: 360px) {
  .contacts__subtitle {
    font-size: 12px;
  }
}
