<section class="contacts" id="contacts">
  <h2 class="contacts__title">
    Давайте работать вместе...
  </h2>
  <p class="contacts__subtitle">
    Здесь несколько ссылок
  </p>
  <ul class="contacts__links">
      <li>
        <a href="https://t.me/nikita_shagan" target="_blank" class="contacts__link">
          <i class="contacts__icon fa fa-telegram"></i>
          <p class="contacts__name">Телеграм</p>
        </a>
      </li>
      <li>
        <a href="https://vk.com/nikydream" target="_blank" class="contacts__link">
          <i class="contacts__icon fa fa-vk"></i>
          <p class="contacts__name">ВКонтакте</p>
        </a>
      </li>
      <li>
        <a href="https://github.com/nikita-shagan" target="_blank" class="contacts__link">
          <i class="contacts__icon fa fa-github"></i>
          <p class="contacts__name">Github</p>
        </a>
      </li>
      <li>
        <a href="https://wa.me/+79248409105" target="_blank" class="contacts__link">
          <i class="contacts__icon fa fa-whatsapp"></i>
          <p class="contacts__name">WhatsApp</p>
        </a>
      </li>
      <li>
        <a href="mailto:{{ profile.user.email }}" class="contacts__link">
          <i class="contacts__icon fa fa-at"></i>
          <p class="contacts__name">Отправить email</p>
        </a>
      </li>
  </ul>
</section>
