.header__toggle-link {
  margin: 0;
  padding: 5px;
  text-decoration: none;
  color: var(--main-white)
}

@media screen and (max-width: 425px) {
  .header__toggle-link {
    font-size: 16px;
  }
}

@media screen and (max-width: 365px) {
  .header__toggle-link {
    font-size: 12px;
  }
}

